NODE_ENV=development

DATABASE_URL=postgresql://admin:admin@localhost:5432/pulseboard


# when i use mongodb
# MONGODB_URI=mongodb://admin:password@localhost:27017/poll?authSource=admin

CORS_CLIENT_URL=http://localhost:3000

JWT_ACCESS_SECRET=chaicodealongstringygjmt
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=somthingnewsecretygjmt
JWT_REFRESH_EXPIRES_IN=7d


